In [2]:
a,b,c = 20 , 15,54

if a>b and a<c :
    print('both conditions are true')

both conditions are true

In [3]:
a,b,c = 20 , 15,54

if a>b or a>c :
    print('A is not the smallest')

A is not the smallest

In [4]:
# short hand , only if one statement is to be exceuted
if a>b : print(' a is greater than b')

 a is greater than b

In [5]:
a = 2
b = 3

print('A is greater') if a>b else print('b is greater')

b is greater

In [15]:
a,b,c = 5,1,3

if a>b :
    if a>c :
        print('A is greater than B and c')
    else :
        print('A is only greater than B and less than c')
else :
    print('A is less than B and c')

A is greater than B and c

In [16]:
a,b = 4,6

if b>a:
    pass

In [31]:
# while loop

numbers = [1,2,3,4,5,6,7,8,9]
i = 0
while (i < len(numbers)):
    print(i)
    i+=1

0
1
2
3
4
5
6
7
8

In [33]:
# while loop

numbers = [1,2,3,4,5,6,7,8,9]
i = 0
while (i < len(numbers)):
    print(i)
    i+=2

0
2
4
6
8

In [49]:
numbers = [1,2,3,4,5,6,7,8,9]
sum = []
i = 0
while (i < len(numbers)):
    k = numbers[i]+numbers[i]+1
    sum.append(k)
    i+=1
print(sum)

[3, 5, 7, 9, 11, 13, 15, 17, 19]

In [50]:
numbers = [1,2,3,4,5,6,7,8,9]
sum = []
i = 0
while (i < len(numbers)):
    sum = numbers[i]+numbers[i]+1
    print(sum)
    i+=1

3
5
7
9
11
13
15
17
19

In [2]:
a,b = 0,1

while a<10 :
    print(a)
    a,b = b,a+b

0
1
1
2
3
5
8

In [4]:
rank = 5
while rank != 12 :
    print('Rank is' , rank)
    rank+=1

Rank is 5
Rank is 6
Rank is 7
Rank is 8
Rank is 9
Rank is 10
Rank is 11

In [6]:
# for loop

numbers = [1,2,3,4,5,6,7,8,9]

for i in numbers :
    print(i+2)

3
4
5
6
7
8
9
10
11

In [7]:
for i in range(5):
    print(i)

0
1
2
3
4

In [8]:
for i in range(2,20,3):
    print(i)

2
5
8
11
14
17

In [9]:
fruits = ['banana' , 'Apple' , 'orange']

for i in fruits :
    print(i)

banana
Apple
orange

In [14]:
fruits = ['banana' , 'Apple' , 'orange']

for i in range(len(fruits)) :
    print(i)

0
1
2

In [15]:
s = 'Apple'

for i in s :
    print(i)

A
p
p
l
e

In [19]:
fruits = ['banana' , 'Apple' , 'orange']

for i in fruits :
    print(i)
    if i == 'Apple':
        break

banana
Apple

In [20]:
fruits = ['banana' , 'Apple' , 'orange']

for i in fruits :
    if i == 'Apple':
        continue
    print(i)

banana
orange

In [21]:
for x in range(5) :
    print(x)
else :
    print('finished')

0
1
2
3
4
finished

In [24]:
brand = ['zespri','gala','malta']
fruit = ['kiwi' , 'apple', ' orange']

for i in brand:
    for x in fruit :
        print(i,x)def =

zespri kiwi
zespri apple
zespri  orange
gala kiwi
gala apple
gala  orange
malta kiwi
malta apple
malta  orange

In [33]:
brand = ['zespri','gala','malta']
fruit = ['kiwi' , 'apple', ' orange']

for i in range(len(brand)):
        print(brand[i],fruit[i])

zespri kiwi
gala apple
malta  orange

 ### functions

In [38]:
def greet():
    print('hello world')
    
greet()

hello world

In [41]:
def jodo(x,y):
    print(x*y)
    
jodo(3,4)

12

In [42]:
def greet(x,y):
    print(x+ '  ' +y )

greet('world','hello')

world  hello

In [43]:
def greet(x,y):
    print(x+ '  ' +y )

greet(y = 'world',x = 'hello')

hello  world

In [46]:
def greet():
    str = input('write your Name :')
    print('welcome to the jupyter','  ',str)

greet()

write your Name :Ma Aleem
welcome to the jupyter    Ma Aleem

In [1]:
### guess the number game

def gtn():
    print('you have got four chances to guess the number \nits between 1 & 10')
    for i in range (4) :
        numb = int(input())
        if numb == 7 :
            print('correctly guessed')
            break
        elif numb > 7 and numb < 10:
            print('\nyou have guessed a bigger number , try smaller')
        elif numb <5 :
            print('\nyou have guessed a way smaller number\n')
        elif numb >5 and numb < 7:
            print('\nyour guesss is close but gues a little bigger number\n')
        else :
            'try a number between 1 and 10'
        print(' \nyou now have only  ', 4-(i+1) , ' chances left')

In [ ]:
gtn()

you have got four chances to guess the number
its between 1 & 10
5

you now have only   3  chances left
3

you have guessed a way smaller number


you now have only   2  chances left
5

you now have only   1  chances left

In [ ]:
def greet():
    print('welcome to the jupyter','  ',str)

str = input('write your Name :')

greet()

In [49]:
phones = ['mi','smasung','nokia']

def baarbaar(x):
    print(x*3)

baarbaar(phones)

['mi', 'smasung', 'nokia', 'mi', 'smasung', 'nokia', 'mi', 'smasung', 'nokia']

In [56]:
list = ['car','bus','bike']

def asd(x):
    print(x*3)

def zxc(x,y):
    for i in y:
        x(i)

zxc(asd,list)

carcarcar
busbusbus
bikebikebike

In [67]:
ans = lambda z:z*4

print(ans(8))

32

In [68]:
ans = lambda x,y,z:x*y*z

print(ans(2,3,4))

24

In [69]:
def return_42():
    return 42
return_42()

42

 # scipy ( scientifc python )

In [75]:
# working with sparse matrix
import numpy as np
from scipy.sparse import csr_matrix

arr = np.array([[0,0,0],[0,0,1],[1,0,2]])

print(csr_matrix(arr))

  (1, 2)	1
  (2, 0)	1
  (2, 2)	2

In [76]:
import numpy as np
from scipy.sparse import csr_matrix

arr = np.array([[0,0,0],[0,0,1],[1,0,2]])

print(csr_matrix(arr).data)

[1 1 2]

In [77]:
import numpy as np
from scipy.sparse import csr_matrix

arr = np.array([[0,0,0],[0,0,1],[1,0,2]])

print(csr_matrix(arr).count_nonzero())   #counts number of nonzero items

3

In [2]:
import numpy as np
from scipy.linalg import solve

A = np.array([[3,2],[2,-1]])
B = np.array([12,1]).reshape((2,1))
X = solve(A,B)

X

array([[2.],
       [3.]])

In [14]:
# finding minimal point for a linear equation
from scipy.optimize import minimize_scalar

def obj(x):
    return(3*x**4 - 3*x + 1)
minimal_point = minimize_scalar(obj)
print(minimal_point)

     fun: -0.41741118113173226
 message: '\nOptimization terminated successfully;\nThe returned value satisfies the termination criteria\n(using xtol = 1.48e-08 )'
    nfev: 15
     nit: 11
 success: True
       x: 0.6299605279579121

In [56]:
def ifelse(x,y):
    if x > y :
        print('x is bigger')
    elif x < y:
        print('y is bbigger')
    else :
        print()

In [57]:
ifelse(3,4)

y is bbigger